<nav ng-controller="FlickrImageSearchController as model" class="navbar navbar-default navbar-fixed-top sah-page-custom-color">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand">
                Search
            </a>
        </div>
    </div>
</nav>

<div ng-controller="FlickrImageSearchController as model" class="input-group  sah-form-padding">
    <input ng-model="searchText" type="text" class="form-control">
    <span class="input-group-btn">
        <a ng-click="model.searchPhotos(searchText)" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
</div>

<div ng-controller="FlickrImageSearchController as model" class="row">
    {{vm.photos}}
    <div class="col-xs-4" ng-repeat="photo in vm.photos">
        <img ng-click="model.selectPhoto(photo)"
             ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_s.jpg"/>
    </div>
</div>

<nav ng-controller="FlickrImageSearchController as model" class="navbar navbar-default navbar-fixed-bottom sah-page-custom-color">
    <div class="container-fluid">
        <div class="navbar-footer">
            <div class="navbar-text pull-right">
                <a href="#/profile/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>