<nav ng-controller="WidgetEditController as model" class="navbar navbar-default navbar-fixed-top sah-page-custom-color">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Widget Editor</a>
        </div>
    </div>
</nav>

<!--<div ng-controller="WidgetEditController as model" class="container-fluid">
    <div ng-controller="WidgetEditController as model" class="container-fluid"
         ng-include="model.getEditorTemplateUrl(model.widget.widgetType)">
    </div>
</div>-->

<div ng-controller="WidgetEditController as model" class="container-fluid">
    <div ng-switch="model.widget.widgetType">
        <div ng-switch-when="HEADER">
            <ng-include src= "'views/widgets/editors/widget-HEADER-edit.view.client.html'">
        </div>
        <div ng-switch-when="IMAGE">
            <ng-include src= "'views/widgets/editors/widget-IMAGE-edit.view.client.html'">
        </div>
        <div ng-switch-when="HTML">
            <ng-include src= "'views/widgets/editors/widget-HTML-edit.view.client.html'">
        </div>
        <div ng-switch-when="YOUTUBE">
            <ng-include src= "'views/widgets/editors/widget-YOUTUBE-edit.view.client.html'">
        </div>
    </div>
</div>



<nav ng-controller="WidgetEditController as model" class="navbar navbar-default navbar-fixed-bottom sah-page-custom-color">
    <div class="container-fluid">
        <div class="navbar-footer">
            <div class="navbar-text pull-right">
                <a href="#/profile/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>