<div ng-controller="loginController as model" class="container">
    <h1>Login</h1>


    <div class="alert alert-danger" ng-show="model.error">{{model.error}}</div>

    <div class="alert alert-success" ng-show="model.message">{{model.message}}</div>


    <form name="loginForm" nonvalidate>
        <input ng-model="user.username"
           type="text"
           class="form-control"
           placeholder="username"
           autocomplete="off" autocapitalize="off"
           required/>
        <!--add this to show error-->
        <span ng-if="loginForm.username.$error.required && loginForm.username.$submitted">Username is required</span>

        <input ng-model="user.password"
           type="password"
           class="form-control"
           placeholder="password"
           required/>
        <span ng-if="loginForm.password.$error.required && loginForm.password.$submitted">Password is required</span>

        <!--For email-->
        <!--<span ng-if="loginForm.email.$error.name && formLogin.email.$submitted">Not a valid email</span>-->

    </form>

    <!--type="submit" ???-->
    <a type="submit" ng-click="model.login(user)"
       class="btn btn-primary btn-block">
        Login
    </a>


    <!--<a href="/auth/google" class="btn btn-primary btn-block">-->
        <!--<span class="fa fa-google-plus"></span>-->
        <!--Google-->
    <!--</a>-->

    <a href="#/register"
       class="btn btn-success btn-block">
        Register
    </a>
</div>