<nav ng-controller="profileController as model" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/profile/{{model.user._id}}">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand">
                Profile
            </a>
        </div>
    </div>
</nav>

<div ng-controller="profileController as model" id="padded-container" class="container-fluid">
    <div class="alert alert-danger" ng-show="model.error">{{model.error}}</div>

    <div class="alert alert-success" ng-show="model.message">{{model.message}}</div>

    <form>
        <div class="form-group">
            <label for="first">First Name</label>
            <input ng-model="model.user.firstName"
                   id="first"
                   class="form-control"
                   type="text"
                   placeholder="First Name"/>
        </div>

        <div class="form-group">
            <label for="last">Last Name</label>
            <input ng-model="model.user.lastName"
                   id="last"
                   class="form-control"
                   type="text"
                   placeholder="Last Name">
        </div>

        <div class="form-group">
            <label for="email">Email address</label>
            <input ng-model="model.user.email"
                   id="email"
                   class="form-control"
                   type="email"
                   placeholder="Email Address">
        </div>

        <div class="form-group">
        <label for="last">Username</label>
        <input ng-model="model.user.username"
               id="username"
               class="form-control"
               type="text"
               placeholder="Username">
        </div>

        <label>Password</label>
        <input ng-model="model.user.password"
               id="passowrd"
               class="form-control"
               type="password"
               placeholder="Password"/>
    </form>

    <a href="#/user/{{model.user._id}}/website" class="btn btn-success btn-block">
        Websites
    </a>

    <a ng-click="model.update(model.user)"
       class="btn btn-warning  btn-block" >
        Update
    </a>

    <a ng-click="model.logout(model.user)"
       class="btn btn-warning  btn-block">
        Logout
    </a>

    <a ng-click="model.unregisterUser(model.user)"
       class="btn btn-danger  btn-block" >
        Delete Account
    </a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div ng-controller="profileController as model" class="container-fluid">
        <div class="navbar-footer">
            <div class="navbar-text pull-right">
                <a href="#/profile/{{model.user._id}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>