<div ng-controller="AdminHomeController as model">
    <nav class="navbar navbar-default navbar-fixed-top sah-page-custom-color">
        <div class="container-fluid">
            <!-- <div class="navbar-text pull-left">
                 <a href="../library/director-library-home-director.view.client.html" class="navbar-link">
                         <span class="glyphicon glyphicon-chevron-left">
                         </span>
                 </a>
             </div>-->
            <div class="navbar-text pull-right sah-navbar-text-padding">
                <a href="#/user/{{model.user._id}}/profile" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
            <div class="navbar-text pull-right sah-navbar-text-padding">
                <a href="#/user/{{model.user._id}}/library" class="navbar-link">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </div>

            <div class="navbar-header">
                <a class="navbar-brand">
                    Admin Homepage
                </a>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <h2>View & Edit All Users</h2>

        <div class="container-fluid">
            <div class="alert alert-danger" ng-show="model.error">{{model.error}}</div>
            <div class="alert alert-success" ng-show="model.message">{{model.message}}</div>
        </div>

        <table class="sah-table-style">
            <tr class="sah-row-style">
                <th class="sah-table-item">Username</th>
                <th class="sah-table-item visible-lg visible-md">Last Name</th>
                <th class="sah-table-item visible-lg visible-md">First Name</th>
                <th class="sah-table-item visible-lg visible-md">Email</th>
                <th class="sah-table-item">Password</th>
                <th class="sah-table-item">Role</th>
                <th></th>
                <th></th>
            </tr>
            <tr ng-repeat="user in model.users" class="sah-row-style">
                <td class="sah-table-item"><input ng-model="user.username" type="text" class="form-control"/></td>
                <td class="sah-table-item visible-lg visible-md"><input ng-model="user.lastName" type="text" class="form-control"/></td>
                <td class="sah-table-item visible-lg visible-md"><input ng-model="user.firstName" type="text" class="form-control"/></td>
                <td class="sah-table-item visible-lg visible-md"><input ng-model="user.email" type="text" class="form-control"/></td>
                <td class="sah-table-item"><input ng-model="user.password" type="text" class="form-control"/></td>
                <td class="sah-table-item">
                    <select ng-model="user.role">
                        <option value='{{user.role}}'>{{user.role}}</option>
                        <option ng-if="user.role !=='ADMIN'" value='ADMIN'>ADMIN</option>
                        <option ng-if="user.role !=='DIRECTOR'" value='DIRECTOR'>DIRECTOR</option>
                        <option ng-if="user.role !=='MEMBER'" value='MEMBER'>MEMBER</option>
                </select></td>
                <td> <a><span ng-click="model.update(user)" class="glyphicon glyphicon-ok pull-right"></span></a></td>
                <td>
                    <a class="danger"><span ng-click="model.unregisterUser(user)" class="glyphicon glyphicon-remove pull-right"></span></a>
                </td>
            </tr>
        </table>

    </div>

    <div class="container-fluid">
        <h2>Create a New User</h2>
        <table class="sah-table-style">
            <tr class="sah-row-style">
                <th class="sah-table-item">Username</th>
                <th class="sah-table-item visible-lg visible-md">Last Name</th>
                <th class="sah-table-item visible-lg visible-md">First Name</th>
                <th class="sah-table-item">Email</th>
                <th class="sah-table-item">Password</th>
                <th class="sah-table-item visible-lg visible-md">Role</th>
                <th></th>
            </tr>
            <tr class="sah-row-style">
                <td class="sah-table-item"><input ng-model="model.newUser.username" type="text" class="form-control"/></td>
                <td class="sah-table-item visible-lg visible-md"><input ng-model="model.newUser.lastName" type="text" class="form-control"/></td>
                <td class="sah-table-item visible-lg visible-md"><input ng-model="model.newUser.firstName" type="text" class="form-control"/></td>
                <td class="sah-table-item"><input ng-model="model.newUser.email" type="text" class="form-control"/></td>
                <td class="sah-table-item"><input ng-model="model.newUser.password" type="text" class="form-control"/></td>
                <td class="sah-table-item visible-lg visible-md">
                    <select ng-model="model.newUser.role">
                        <option value='ADMIN' selected>ADMIN</option>
                        <option value='DIRECTOR'>DIRECTOR</option>
                        <option value='MEMBER'>MEMBER</option>
                    </select></td>
                <td> <a><span ng-click="model.createUser(model.newUser, model.newUser.role)" class="glyphicon glyphicon-ok pull-right"></span></a></td>
            </tr>
        </table>

    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom sah-page-custom-color">
        <div class="container-fluid">
            <div class="navbar-footer">
            </div>
        </div>
    </nav>

</div>
