<nav ng-controller="PageNewController as model" class="navbar navbar-default navbar-fixed-top sah-page-custom-color">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">
                    Pages
                </a>
            </div>
        </div>

        <div class="col-sm-8 col-xs-12">
            <div class="hidden-sm hidden-md hidden-lg navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
            </div>
            <div class="navbar-text pull-right sah-navbar-text-padding">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                    <span class="glyphicon glyphicon-remove">
                    </span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">
                    New Page
                </a>
            </div>
        </div>
    </div>
</nav>

<div ng-controller="PageNewController as model" class="row container-fluid">
    <div class="col-sm-4 hidden-xs sah-left-pane">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-10">
                        Name
                    </div>
                    <div class="col-sm-2">
                        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="pull-right">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                </div>
            </li>
            <li ng-repeat="page in model.pages" class="list-group-item">
                <div class="row">
                    <div class="col-sm-10">
                        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">{{page.name}}</a>
                    </div>
                    <div class="col-xs-2">
                        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                            <span class="glyphicon glyphicon-cog pull-right"></span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="col-sm-8 col-xs-12 sah-right-pane">
        <div class="alert alert-danger" ng-show="model.error">{{model.error}}</div>

        <div class="alert alert-success" ng-show="model.message">{{model.message}}</div>

        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input ng-model="model.page.name" type="text" class="form-control" id="name" placeholder="Page Name">
            </div>
            <div class="form-group">
                <label for="description">Title</label>
                <textarea ng-model="model.page.description" class="form-control" id="description" rows="4" placeholder="Page Title" required></textarea>
            </div>
        </form>

        <a ng-click="model.createPage(model.page)"
           class="btn btn-primary  btn-block">
            Create
        </a>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom sah-page-custom-color">
    <div class="container-fluid">
        <div ng-controller="PageNewController as model" class="navbar-footer">
            <div class="navbar-text pull-right">
                <a href="#/profile/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>