<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <script src="../../public/js/angular.min.js"></script>
    <script src="../../public/js/angular-route.min.js"></script>
    <title>Movies</title>
</head>
<body>

<div class="container-fluid">
<h1>Movies Database</h1>

    <label>Title</label>
    <input ng-model="movie.title" class="form-control"/>
    <a ng-click="model.createMovie">Create Movie</a>
    <!--add some list fields with ng-repeat-->

</div>

</body>
</html>