<div ng-controller="WidgetListController as model">
    <nav class="sah-mono navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/library" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/library" class="navbar-link">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </div>
            <!--ng-if for admin vs. user-->
            <div class="navbar-header">
                <a class="navbar-brand">
                    View & Edit My Library
                </a>
            </div>
        </div>
    </nav>

<div class="container-fluid sah-floating-outer-toolbar" style="margin-left: 8px; margin-right: 8px">
    <div class="row" style="margin-top: 10px">
        <div class="btn sah-floating-toolbar">
            <a ng-click="model.createWidget('HTML')">
                <span class="glyphicon glyphicon-text-size sah-glyphicon-edit"></span>
            </a>
        </div>
        <div class="btn sah-floating-toolbar">
            <a ng-click="model.createWidget('PDF')">
                <span class="glyphicon glyphicon-music sah-glyphicon-edit"></span>
            </a>
        </div>
        <div class="btn sah-floating-toolbar">
            <a ng-click="model.createWidget('YOUTUBE')">
                <span class="glyphicon glyphicon-facetime-video sah-glyphicon-edit"></span>
            </a>
        </div>
    </div>
</div>

    <div class="container-fluid" style="margin-left: 8px; margin-right: 8px">
    <div class="widget-list sah-container-top-padding" sortable-directive="" callback="model.sort(start, end)">
        <div ng-repeat="widget in model.widgets">
            <div class="sah-toolbar" style="margin-right: 8px;">
                <a href="#/user/{{model.userId}}/library/{{model.libraryId}}/widget/{{widget._id}}">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <span class="glyphicon glyphicon-align-justify"></span>
            </div>

            <div ng-switch="widget.widgetType">
                <div style="margin-bottom: 10px" ng-switch-when="HTML">
                    <div ng-include = "'views/widget/templates/widget-HTML.view.client.html'"></div>
                </div>
                <div style="margin-bottom: 10px" ng-switch-when="YOUTUBE" >
                    <div class="sah-iframe-widget" ng-include = "'views/widget/templates/widget-YOUTUBE.view.client.html'"></div>
                </div>
                <div style="margin-bottom: 10px" ng-switch-when="PDF">
                    <!--ng-include = "'views/widget/templates/widget-PDF.view.client.html'"-->
                    <div ng-include = "'views/widget/templates/widget-PDF.view.client.html'">
                    <!--<iframe src="{{model.getTrustedHtml(widget.url)}}"-->
                            <!--style="width:100%; height:500px;" frameborder="0"></iframe>-->
                    </div>
                    <!--<div ng-include = "'views/widget/templates/widget-PDF.view.client.html'"></div>-->
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>

<nav class="sah-mono navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <div class="row navbar-text text-center">
                <!--<div class="col-xs-2 pull-right">-->
                <!--<a href="">-->
                <!--<span class="glyphicon glyphicon-off"></span>-->
                <!--</a>-->
                <!--</div>-->
                <div class="col-xs-2">
                    <a href="#/user/{{model.userId}}/search">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="#/user/{{model.userId}}/favorite/{{model.userId}}">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="#/user/{{model.userId}}/newsfeed">
                        <span class="glyphicon glyphicon-globe"></span>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="#/user/{{model.userId}}/profile">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
</div>