<div ng-controller="WidgetListController as model">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/library" class="navbar-link">
                <span class="glyphicon glyphicon-home"></span>
            </a>
        </div>
        <!--ng-if for admin vs. user-->
        <div ng-if="model.user.role=='ADMIN'" class="sah-navbar-text-padding navbar-button pull-right">
            <a href="#/user/{{model.userId}}/admin" class="navbar-link">
                <span class="btn btn-warning">Admin</span></a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand">
               My Library
            </a>
        </div>
    </div>
</nav>

<div ng-if="model.user.role == 'DIRECTOR' || model.user.role == 'ADMIN'" class="container-fluid sah-floating-outer-toolbar">
    <div class="row">
        <div class="btn sah-floating-toolbar">
            <a href="widget-HTML.view.client.html">
                <span class="glyphicon glyphicon-text-size sah-glyphicon-edit"></span>
            </a>
        </div>
        <div class="btn sah-floating-toolbar">
            <a href="widget-PDF.view.client.html">
                <span class="glyphicon glyphicon-music sah-glyphicon-edit"></span>
            </a>
        </div>
        <div class="btn sah-floating-toolbar">
            <a href="widget-YOUTUBE.view.client.html">
                <span class="glyphicon glyphicon-facetime-video sah-glyphicon-edit"></span>
            </a>
        </div>
    </div>
</div>

<div class="container-fluid sah-container-top-padding">
    <div>
        <div ng-if="model.user.role == 'DIRECTOR'|| model.user.role == 'ADMIN'" class="sah-toolbar">
            <a href="widget-HTML.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h1>LUMC Spring Concert</h1>
    </div>

    <div>
        <div ng-if="model.user.role == 'DIRECTOR' || model.user.role == 'ADMIN'" class="sah-toolbar">
            <a href="widget-HTML.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h3>Morten Lauridsen: Sure On This Shining Night</h3>
    </div>

    <div>
        <div ng-if="model.user.role == 'DIRECTOR' || model.user.role == 'ADMIN'" class="sah-toolbar">
            <a href="widget-HTML.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <p>Morten Johannes Lauridsen (born February 27, 1943) is an American composer. A National Medal of Arts recipient (2007), he was composer-in-residence of the Los Angeles Master Chorale (1994–2001) and has been a professor of composition at the University of Southern California Thornton School of Music for more than 40 years.<br></p>
    </div>

    <div>
        <div ng-if="model.user.role == 'DIRECTOR' || model.user.role == 'ADMIN'" class="sah-toolbar">
            <a href="widget-PDF.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <div class="sah-iframe-widget">
            <iframe src="http://ks.imslp.info/files/imglnks/usimg/8/85/IMSLP304400-PMLP492536-Anon__Oeglin__A_du_mein_Trost_und_Zuversicht.pdf" width="100%" height="100vh">
                This browser does not support PDFs. Please download the PDF to view it: <a href="http://ks.imslp.info/files/imglnks/usimg/8/85/IMSLP304400-PMLP492536-Anon__Oeglin__A_du_mein_Trost_und_Zuversicht.pdf">Download PDF</a>
            </iframe>
        </div>
    </div>

    <div>
        <div ng-if="model.user.role == 'DIRECTOR' || model.user.role == 'ADMIN'" class="sah-toolbar">
            <a href="widget-HTML.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h3>Minnesota Choral Artists with Morten Lauridsen, piano</h3>
    </div>

    <div>
        <div ng-if="model.user.role == 'DIRECTOR' || model.user.role == 'ADMIN'" class="sah-toolbar">
            <a href="widget-YOUTUBE.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <div class="sah-iframe-widget">
            <iframe  width="100%"  src="https://www.youtube.com/embed/CyH9epNNx4g" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>


    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-footer">
                <div class="row navbar-text text-center">
                    <!--<div class="col-xs-2 pull-right">-->
                    <!--<a href="">-->
                    <!--<span class="glyphicon glyphicon-off"></span>-->
                    <!--</a>-->
                    <!--</div>-->
                    <div class="col-xs-2">
                        <a href="#/user/{{model.userId}}/search">
                            <span class="glyphicon glyphicon-search"></span>
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a href="#/user/{{model.userId}}/public">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a href="#/user/{{model.userId}}/newsfeed">
                            <span class="glyphicon glyphicon-globe"></span>
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a href="#/user/{{model.userId}}/profile">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>