<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Edit Widgets</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../../css/style.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="widget-list-director.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="../library/director-library-home.view.client.html" class="navbar-link">
                <span class="glyphicon glyphicon-home"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand">
                Edit My Widgets
            </a>
        </div>
    </div>
</nav>

<div class="sah-form-padding">

    <a class="btn btn-warning  btn-block" href="widget-list-director.view.client.html">Update</a>
    <a class="btn btn-danger  btn-block" href="widget-list-director.view.client.html">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <div class="row navbar-text text-center">
                <div class="col-xs-2 pull-right">
                    <a href="../user/login.view.client.html">
                        <span class="glyphicon glyphicon-off"></span>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="../../social/search.view.client.html">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="../../social/public-profile.view.client.html">
                        <span class="glyphicon glyphicon-star"></span>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="../../social/newsfeed.view.client.html">
                        <span class="glyphicon glyphicon-globe"></span>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="../../user/templates/profile.view.client.html">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>