<div>
    <nav ng-controller="WidgetListController as model" class="sah-mono navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/library" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/library" class="navbar-link">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">
                    My Library
                </a>
            </div>
        </div>
    </nav>

    <div class="row container-fluid sah-container-left-padding">
        <div class="col-sm-4 hidden-xs sah-left-pane">
            <div ng-controller="LibraryHomeController as model">
                <div ng-if="model.user.role=='DIRECTOR' || model.user.role=='ADMIN'" class="container-fluid">
                    <div class="h4">
                        <a href="#/user/{{model.userId}}/library/new">
                            <span class="glyphicon glyphicon-plus-sign pull-right"></span>
                        </a>
                        Created By You
                    </div>

                    <div class="container-fluid sah-custom-left-container">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-12 sah-left-padding">
                                        Name
                                    </div>
                                </div>
                            </li>
                            <li ng-repeat="dirLibrary in model.dirLibraries" class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <a href="#/user/{{model.userId}}/library/{{dirLibrary._id}}/widget/director">{{dirLibrary.name}}</a>
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="#/user/{{model.userId}}/library/{{dirLibrary._id}}/share" class="pull-right">
                                            <span class="glyphicon glyphicon-share-alt"></span>
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="#/user/{{model.userId}}/library/{{dirLibrary._id}}">
                                            <span class="glyphicon glyphicon-pencil pull-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="h4">
                        Shared With You
                    </div>

                    <div class="container-fluid  sah-custom-left-container">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-12 sah-left-padding">
                                        Name
                                    </div>
                                </div>
                            </li>
                            <li ng-repeat="memLibrary in model.memLibraries" class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-12 sah-left-padding">
                                        <a href="#/user/{{model.userId}}/library/{{memLibrary._id}}/widget/member">{{memLibrary.name}}</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="h4 container-fluid">Search Youtube</div>
            <div ng-controller="YoutubeSearchController as model">
                <div class="container-fluid">
                    <div class="container-fluid">
                        <div class="alert alert-danger" ng-show="model.error">{{model.error}}</div>
                        <div class="alert alert-success" ng-show="model.message">{{model.message}}</div>
                    </div>

                    <!--<div class="container-fluid">-->
                    <div class="input-group sah-button-padding">
                        <input ng-model="model.searchTitle" type="text" class="form-control" placeholder="Search Youtube">
                        <span class="input-group-btn">
                <a class="btn btn-default" type="button">
            <span ng-click="model.searchVideo(model.searchTitle)" class="glyphicon glyphicon-search"></span></a>
            </span>
                    </div>

                    <ul class="list-group" ng-repeat="video in model.videoSearchResults.items">
                        <li class="newsfeed-list-group-item list-group-item"  style="padding-bottom: 50px; padding-top: 15px">
                            <div class="sah-iframe-widget">
                                <iframe id="ytplayer" type="text/html" width="100%"
                                        src="{{model.getYouTubeEmbedUrl(video.id.videoId)}}"
                                        frameborder="0"
                                        allowfullscreen></iframe>
                            </div>

                            <div style="padding-top: 4px" id="favorite">
                                <a ng-click="model.viewInfo(video)" class="pull-right btn btn-primary" style="margin-left: 5px">
                                    <span  class="glyphicon glyphicon-info-sign" style="padding-top: 4px"></span>
                                </a>
                                <a ng-click="model.favoriteVideo(video)" class="pull-right btn btn-primary" style="margin-left: 5px">
                                    <span  class="glyphicon glyphicon-star" style="padding-top: 4px"></span>
                                </a>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div ng-controller="WidgetListController as model" class="container-fluid col-sm-8 col-xs-12 sah-right-pane sah-container-right-padding" style="margin-left: 8px; margin-right: 8px">
        <div class="widget-list" style="margin-left: 12px">
            <div ng-repeat="widget in model.widgets">
                <div ng-switch="widget.widgetType">
                    <div style="margin-bottom: 10px" ng-switch-when="HTML">
                        <div ng-include = "'views/widget/templates/widget-HTML.view.client.html'"></div>
                    </div>
                    <!--ng-bind-html="getTrustedHtml"-->
                    <div style="margin-bottom: 10px" ng-switch-when="YOUTUBE">
                        <div class="sah-iframe-widget" ng-include = "'views/widget/templates/widget-YOUTUBE.view.client.html'"></div>
                    </div>
                    <div style="margin-bottom: 10px" ng-switch-when="PDF">
                        <div ng-include = "'views/widget/templates/widget-PDF.view.client.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <nav ng-controller="WidgetListController as model" class="sah-mono navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-footer">
                <div class="row navbar-text text-center">
                    <div class="col-xs-2">
                        <a href="#/user/{{model.userId}}/search">
                            <span class="glyphicon glyphicon-search"></span>
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a href="#/user/{{model.userId}}/favorite/{{model.userId}}">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a href="#/user/{{model.userId}}/newsfeed">
                            <span class="glyphicon glyphicon-globe"></span>
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a href="#/user/{{model.userId}}/profile">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>