<div ng-controller="InfoController as model">
    <nav class="sah-mono navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/library" class="navbar-link">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">
                    More Info
                </a>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="alert alert-danger" ng-show="model.error">{{model.error}}</div>
        <div class="alert alert-success" ng-show="model.message">{{model.message}}</div>
    </div>

    <div style="margin-top: 9px" class="container-fluid">
        <div class="container-fluid sah-home-page-left-container col-sm-6 col-xs-12">
            <ul class="list-group" >
                <li style="padding-bottom: 46px; padding-top: 15px" class="list-group-item">
                    <!--style="display: block; width: 100%"-->
                    <div class="sah-iframe-widget">
                        <iframe id="ytplayer" type="text/html" width="100%"
                                src="{{model.getYouTubeEmbedUrl(model.videoId)}}"
                                frameborder="0"
                                allowfullscreen></iframe>
                    </div>
                    <!--<h5 class="danger">{{favorite.users.length}} users saved this video today</h5>-->
                    <div style="padding-top: 4px" id="favorite">
                        <a ng-click="model.favoriteVideo(model.favorite)" class="pull-right btn btn-primary">
                            <span  class="glyphicon glyphicon-star"></span>
                            Add to Favorites
                        </a>
                        <!--<h5>Title: {{favorite.title}}</h5>-->
                    </div>
                </li>
            </ul>

            <ul class="list-group visible-xs">
                <li class="list-group-item">
                    <div>
                        <h5><b>More Info</b></h5>
                        <p>Description: {{model.favorite.description}}</p>
                        <p>Channel Title: {{model.favorite.channelTitle}}</p>
                        <p>Date Published: {{model.favorite.publishedAt}}</p><br/>
                    </div>
                <li class="list-group-item">
            </ul>
        </div>

        <div class="container-fluid sah-home-page-right-container col-sm-6 hidden-xs">
            <ul class="list-group" >
                <li class="list-group-item">
                    <div>
                        <h5><b>More Info</b></h5>
                        <p>Description: {{model.favorite.description}}</p>
                        <p>Channel Title: {{model.favorite.channelTitle}}</p>
                        <p>Date Published: {{model.favorite.publishedAt}}</p><br/>
                    </div>
                <li class="list-group-item">
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        <ul class="list-group">
            <li  class="list-group-item"><b>Users who have added this video to Favorites</b></li>
            <li ng-repeat="user in model.favoriteUsers" class="list-group-item newsfeed-list-group-item">
                <div style="padding-bottom: 6px" id="user">
                    <a  ng-if="model.userId !== user._id" ng-click="model.favoriteUser(user._id)" class="pull-right btn btn-primary">
                        <span  class="glyphicon glyphicon-star"></span>Follow</a>
                    <h5><a href="#/user/{{model.userId}}/favorite/{{user._id}}"><font size="4">{{user.username}}</font></a></h5>
                </div>
            <li class="list-group-item">
        </ul>
    </div>


    <nav class="sah-mono navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-footer">
                <div class="row navbar-text text-center">
                    <div class="col-xs-2">
                        <a href="#/user/{{model.userId}}/search">
                            <span class="glyphicon glyphicon-search"></span>
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a href="#/user/{{model.userId}}/favorite/{{model.userId}}">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a href="#/user/{{model.userId}}/newsfeed">
                            <span class="glyphicon glyphicon-globe"></span>
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a href="#/user/{{model.userId}}/profile">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>