<div ng-controller="YoutubeSearchController as model">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/library" class="navbar-link">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">
                    Trending Now
                </a>
            </div>
        </div>
    </nav>

<div class="container-fluid">

    <!--<div class="input-group sah-button-padding">-->
        <!--<input type="text" class="form-control" placeholder="Search for a user">-->
        <!--<span class="input-group-btn">-->
        <!--<a class="btn btn-default" type="button">-->
            <!--<span class="glyphicon glyphicon-search"></span>-->
        <!--</a>-->
    <!--</span>-->
    <!--</div>-->

    <!--ng-if: show matching users if search is initiated, hide newsfeed-->
    <!--<ul class="list-group">
        <li class="list-group-item h4">
            <a href="public-profile.view.client.html">Search Results</a>
        </li>
        <li class="newsfeed-list-group-item list-group-item">
            <a href="public-profile.view.client.html">Username123</a>
            <a class="pull-right">
                <span class="glyphicon glyphicon-star-empty"></span>
            </a>
        </li>
        <li class="newsfeed-list-group-item list-group-item">
            <a href="public-profile.view.client.html">Username234</a>
            <a class="pull-right">
                <span class="glyphicon glyphicon-star-empty"></span>
            </a>
        </li>
    </ul>-->

    <div>
    <ul class="list-group" >
        <li ng-repeat="favorite in model.favorites" class="newsfeed-list-group-item list-group-item">
            <div style="padding-bottom: 10px" id="favorite">
                <a ng-click="model.favoriteVideo(favorite)" class="pull-right btn btn-primary">
                    <span  class="glyphicon glyphicon-star"></span>
                    Add to Favorites
                </a>
                <h5>Title: {{favorite.title}}</h5>
            </div>
            <div style="margin-top: 10px" class="sah-iframe-widget">
                <iframe id="ytplayer" type="text/html" width="100%"
                        src="{{model.getYouTubeEmbedUrl(favorite.videoId)}}"
                        frameborder="0"
                        allowfullscreen></iframe>
            </div>

            <!--<div>-->
                <!--<form novalidate name="showUsers" id="showUsers">-->
                    <!--<div>-->
                        <!--<button type="submit" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-user sah-navbar-text-padding"></span>Show Users</button>-->
                        <!--<h5 class="danger">{{favorite.users.length}} user saved this video</h5>-->
                    <!--</div>-->

                    <!--<div ng-if="showUsers.$submitted">-->
                        <!--<div ng-repeat="user in favorite.users"><a>{{user.username}}</a></div>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->

            <h5 class="danger">{{favorite.users.length}} users saved this video today</h5>
            <h5>Show Users: <input type="checkbox" ng-model="checkedUser" aria-label="Toggle ngShow"></h5>
            <div class="check-element animate-show-hide" ng-show="checkedUser" ng-repeat="user in favorite.users"><a href="#/user/{{model.userId}}/favorite/{{user._id}}">{{user.username}}</a></div>

            <h5>Show Details: <input type="checkbox" ng-model="checked" aria-label="Toggle ngShow"></h5>
            <br/>
            <div class="check-element animate-show-hide" ng-show="checked">
                <p>Description: {{favorite.description}}</p>
                <p>Channel Title: {{favorite.channelTitle}}</p>
                <p>Date Published: {{favorite.publishedAt}}</p><br/>
            </div>
        </li>
    </ul>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <div class="row navbar-text text-center">
                <div class="col-xs-2">
                    <a href="#/user/{{model.userId}}/search">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="#/user/{{model.userId}}/favorite/{{model.userId}}">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="#/user/{{model.userId}}/newsfeed">
                        <span class="glyphicon glyphicon-globe"></span>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="#/user/{{model.userId}}/profile">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
</div>