<div ng-controller="PublicProfileController as model">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/library" class="navbar-link">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">
                    {{model.username}}'s Favorites & Friends
                </a>
            </div>
        </div>
    </nav>

<div class="container-fluid">
    <h4>
        About {{model.username}}
        <a ng-click="model.favoriteUser(model.user)" class="pull-right btn btn-primary">
            <span  class="glyphicon glyphicon-star"></span>
            Add to Favorites
        </a>
    </h4>
    <p>Email address: {{model.email}}</p>
    <p>{{model.aboutMe}}<br></p>

    <h4>{{model.username}} Favorites</h4>
    <ul class="list-group">
        <li ng-repeat="favorite in model.favorites" class="newsfeed-list-group-item list-group-item">
            <div style="padding-bottom: 10px" id="favorite">
                <a ng-click="model.favoriteVideo(favorite)" class="pull-right btn btn-primary">
                    <span  class="glyphicon glyphicon-star"></span>
                    Add to Favorites
                </a>
                <h5>Title: {{favorite.title}}</h5>
            </div>
            <div style="margin-top: 10px" class="sah-iframe-widget">
                <iframe id="ytplayer" type="text/html" width="100%"
                        src="{{model.getYouTubeEmbedUrl(favorite.videoId)}}"
                        frameborder="0"
                        allowfullscreen></iframe>
            </div>

            <h5>Show Details: <input type="checkbox" ng-model="checked" aria-label="Toggle ngShow"></h5>
            <br/>
            <div class="check-element animate-show-hide" ng-show="checked">
                <p>Description: {{favorite.description}}</p>
                <p>Channel Title: {{favorite.channelTitle}}</p>
                <p>Date Published: {{favorite.publishedAt}}</p><br/>
            </div>
        </li>
    </ul>

    <h4>Followed by {{model.username}}</h4>
    <ul class="list-group">
        <li ng-repeat="follower in model.followers" class="newsfeed-list-group-item list-group-item">
            <div id="followed">
                <a ng-click="model.favoriteUser(follower)" class="pull-right btn btn-primary">
                    <span  class="glyphicon glyphicon-star"></span>
                    Follow
                </a>
                <h5>{{follower.username}}</h5>
            </div>
        </li>
    </ul>

    <h4>Following {{model.username}}</h4>
    <ul class="list-group">
        <li ng-repeat="following in model.following" class="newsfeed-list-group-item list-group-item">
            <div id="following">
                <a ng-click="model.favoriteUser(following)" class="pull-right btn btn-primary">
                    <span  class="glyphicon glyphicon-star"></span>
                    Follow
                </a>
                <h5>{{following.username}}</h5>
            </div>
        </li>
    </ul>
</div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-footer">
                <div class="row navbar-text text-center">
                    <div class="col-xs-2">
                        <a href="#/user/{{model.userId}}/search">
                            <span class="glyphicon glyphicon-search"></span>
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a href="#/user/{{model.userId}}/public">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a href="#/user/{{model.userId}}/newsfeed">
                            <span class="glyphicon glyphicon-globe"></span>
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a href="#/user/{{model.userId}}/profile">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>