<nav class="sah-mono navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">
                    Odhecaton
                </a>
            </div>
        </div>
    </nav>

    <div ng-controller="NewsfeedController as model" class="row container-fluid sah-container-left-padding">
        <div class="col-sm-4 hidden-xs sah-left-pane">

            <div class="container-fluid">
                <h4>Trending now</h4>
            </div>

            <div class="container-fluid">
                <ul class="list-group" ng-repeat="favorite in model.favorites">
                    <li style="padding-bottom: 16px; padding-top: 15px" class="newsfeed-list-group-item list-group-item">
                        <div class="sah-iframe-widget">
                            <iframe id="youtubeplayer" type="text/html" width="100%"
                                    src="{{model.getYouTubeEmbedUrl(favorite.videoId)}}"
                                    frameborder="0"
                                    allowfullscreen></iframe>
                        </div>
                        <div style="padding-top: 4px" id="fave">
                            <h5 class="danger">{{favorite.users.length}} users saved this today</h5>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </div>

<div class="col-sm-8 col-xs-12 sah-right-pane sah-container-right-padding">
    <div ng-controller="YoutubePublicSearchController as model">
        <div class="input-group sah-button-padding">
            <input ng-model="model.searchText" type="text" class="form-control" placeholder="Search Youtube">
            <span class="input-group-btn">
                <a href="#/user/search/{{model.searchText}}" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span></a>
            </span>
        </div>
    </div>

    <div ng-controller="loginController as model"  id="padded-container">
        <h3>
            Welcome to Odhecaton!
        </h3>

        <p>
        Odhecaton is home to choral directors and singers alike.<br>
        </p>

        <ul class="sah-ul-style">
            <li>Create and access libraries of video recordings and sheet music.</li>
            <li>Share your libraries, search for new resources, and save your favorites as you search.</li>
            <li>See what your friends are listening to!</li>
        </ul>

        <h3>Login</h3>

        <div class="alert alert-danger" ng-show="model.error">{{model.error}}</div>
        <div class="alert alert-success" ng-show="model.message">{{model.message}}</div>

        <!--name="loginForm" nonvalidate-->
        <form novalidate name="loginForm" id="loginForm">
            <input ng-model="user.username"
                   type="text"
                   class="form-control"
                   placeholder="username"
                   autocomplete="off" autocapitalize="off"
                   name="username"
                   required/>
            <!--add this to show error-->
            <span ng-show="loginForm.username.$error.required && loginForm.$submitted">Username is required</span>

            <input ng-model="user.password"
                   type="password"
                   name="password"
                   class="form-control"
                   placeholder="password"
                   required/>
            <span ng-if="loginForm.password.$error.required && loginForm.$submitted">Password is required</span>
            <button style="margin-bottom: 5px" type="submit" ng-click="model.login(user)" class="btn btn-primary btn-block">Login</button>
        </form>

        <!--{{loginForm.username}}-->

        <!--{{loginForm.$submitted}}-->

        <a href="/auth/google" class="btn btn-primary btn-block">
            <span class="fa fa-google-plus"></span>
            Google
        </a>


        <a href="#/register" class="btn btn-warning btn-block">Register</a>
    </div>

    </div>

    <nav class="sah-mono navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-footer">
                <!--<div class="navbar-text navbar-link">-->
                    <!--<a href="#/homepage">-->
                        <!--<span class="glyphicon glyphicon-home"></span>-->
                    <!--</a>-->
                <!--</div>-->
            </div>
        </div>
    </nav>