<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Profile</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../../css/style.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
       <!-- <div class="navbar-text pull-left">
            <a href="../library/director-library-home-director.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
            </a>
        </div>-->
        <div class="navbar-text pull-right">
            <!--ng-if for director vs. member-->
            <a href="../../library/templates/library-home-director.view.client.html" class="navbar-link">
                <span class="glyphicon glyphicon-home"></span>
            </a>
        </div>
        <!--ng-if for admin vs. user-->
        <div class="sah-navbar-text-padding navbar-button pull-right">
               <a href="../../admin/templates/admin-home.view.client.html" class="navbar-link">
                   <span class="btn btn-warning">Admin</span></a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand">
                Profile
            </a>
        </div>
    </div>
</nav>

<div id="padded-container" class="container-fluid">
    <form>
        <!--cannot edit username once created!-->
        <label>Welcome, Username</label>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text" class="form-control" id="first-name" placeholder="Sarah">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" class="form-control" id="last-name" placeholder="Hager">
        </div>
        <div class="form-group">
            <label for="about-me">About Me</label>
            <textarea class="form-control" id="about-me" rows="4" placeholder="A few words about yourself..." required></textarea>
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="hager.s@husky.neu.edu">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter new password">
        </div>
        <div class="form-group">
            <label for="password">Validate Password</label>
            <input type="password" class="form-control" id="password-validate" placeholder="Re-enter new password">
        </div>
    </form>
<!--ng-if for director vs. member-->
    <a class="btn btn-primary btn-block" href="../../library/templates/library-home-director.view.client.html">Update</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <div class="row navbar-text text-center">
                <div class="col-xs-2 pull-right">
                    <a href="login.view.client.html">
                        <span class="glyphicon glyphicon-off"></span>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="../../social/search.view.client.html">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="../../social/public-profile.view.client.html">
                        <span class="glyphicon glyphicon-star"></span>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="../../social/newsfeed.view.client.html">
                        <span class="glyphicon glyphicon-globe"></span>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="../user/profile.view.client.html">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

</body>
</html>