<div ng-controller="profileController as model">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
       <!-- <div class="navbar-text pull-left">
            <a href="../library/director-library-home-director.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
            </a>
        </div>-->
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.user._id}}/library" class="navbar-link">
                <span class="glyphicon glyphicon-home"></span>
            </a>
        </div>

        <!--ng-if for admin vs. user-->
        <div ng-if="model.user.role=='ADMIN'" class="sah-navbar-text-padding navbar-button pull-right">
               <a href="#/user/{{model.user._id}}/admin" class="navbar-link">
                   <span class="btn btn-warning">Admin</span></a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand">
                Profile
            </a>
        </div>
    </div>
</nav>

<div id="padded-container" class="container-fluid">

    <div class="container-fluid">
    <div class="alert alert-danger" ng-show="model.error">{{model.error}}</div>
    <div class="alert alert-success" ng-show="model.message">{{model.message}}</div>
    </div>


    <form>
        <!--cannot edit username once created!-->
        <label>Welcome, {{model.user.username}}</label>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model="model.user.firstName" type="text" class="form-control" id="first-name" placeholder="Enter first name...">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input ng-model="model.user.lastName" type="text" class="form-control" id="last-name" placeholder="Enter last name...">
        </div>
        <div class="form-group">
            <label for="about-me">About Me</label>
            <textarea ng-model="model.user.aboutMe" class="form-control" id="about-me" rows="4" placeholder="A few words about yourself..." required></textarea>
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input ng-model="model.user.email" type="email" class="form-control" id="email" placeholder="Enter email address...">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input ng-model="model.user.password" type="password" class="form-control" id="password" placeholder="Enter new password">
        </div>
        <div class="form-group">
            <label for="password2">Validate Password</label>
            <input ng-model="model.user.password2" type="password" class="form-control" id="password2" placeholder="Re-enter new password">
        </div>
    </form>
<!--ng-if for director vs. member-->
    <a ng-click="model.update(model.user)" class="btn btn-primary btn-block">Save Changes</a>

    <!--<a ng-click="model.updatePassword(model.user.password)" class="btn btn-primary btn-block">Update Password</a>-->

    <a ng-click="model.unregisterUser(model.user)"
       class="btn btn-danger  btn-block" >
        Delete Account
    </a>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <div class="row navbar-text text-center">
                <div class="col-xs-2 pull-right">
                    <a ng-click="model.logout(model.user)">
                        <span class="glyphicon glyphicon-off"></span>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="#/user/{{model.user._id}}/search">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="#/user/{{model.user._id}}/favorite/{{model.user._id}}">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="#/user/{{model.user._id}}/newsfeed">
                        <span class="glyphicon glyphicon-globe"></span>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="#/user/{{model.user._id}}/profile">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

</div>