<nav class="sah-mono navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                Odhecaton
            </a>
        </div>
    </div>
</nav>

    <div ng-controller="NewsfeedController as model" class="row container-fluid sah-container-left-padding">
        <div class="col-sm-4 hidden-xs sah-left-pane">

            <div class="container-fluid">
                <h4>Trending now</h4>
            </div>

            <div class="container-fluid">
                <ul class="list-group" ng-repeat="favorite in model.favorites">
                    <li style="padding-bottom: 16px; padding-top: 15px" class="newsfeed-list-group-item list-group-item">
                        <div class="sah-iframe-widget">
                            <iframe id="youtubeplayer" type="text/html" width="100%"
                                    src="{{model.getYouTubeEmbedUrl(favorite.videoId)}}"
                                    frameborder="0"
                                    allowfullscreen></iframe>
                        </div>
                        <div style="padding-top: 4px" id="fave">
                            <h5 class="danger">{{favorite.users.length}} users saved this today</h5>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </div>



    <div class="col-sm-8 col-xs-12 sah-right-pane sah-container-right-padding">
<div id="padded-container" ng-controller="registerController as model">
    <h2>Join Us!</h2>

    <div class="alert alert-danger" ng-show="model.error">{{model.error}}</div>

    <div class="alert alert-success" ng-show="model.message">{{model.message}}</div>

    <form novalidate name="registerForm" id="registerForm">
        <input ng-model="user.username"
               type="text"
               class="form-control"
               name="username"
               autocomplete="off" autocapitalize="off"
               placeholder="username"
               required/>
        <span ng-show="registerForm.username.$error.required && registerForm.$submitted">Username is required</span>

        <input ng-model="user.email"
               type="email"
               class="form-control"
               name="email"
               placeholder="email address"
               required/>
        </input>
        <span ng-if="registerForm.email.$error.required && registerForm.$submitted">Email address is required</span>

        <input ng-model="user.password"
               type="password"
               name="password1"
               class="form-control"
               placeholder="password"
               required/>
        <span ng-if="registerForm.password1.$error.required && registerForm.$submitted">Password is required</span>

        <input ng-model="user.password2"
               type="password"
               name="password2"
               class="form-control"
               placeholder="verify password"
               required/>
        <span ng-if="registerForm.password2.$error.required && registerForm.$submitted">Please verify your password!</span>

    <br><h4>How would you like to use Odhecaton?</h4>

        <input ng-model="user.role" type="radio" name="role" value="DIRECTOR" checked> Director (Create Libraries)<br>
        <input ng-model="user.role" type="radio" name="role" value="MEMBER"> Member (View Libraries)<br><br>

        <button style="margin-bottom: 5px" type="submit" ng-click="model.registerUser(user)" class="btn btn-primary btn-block">Register</button>
    </form>
    <a href="#/login" class="btn btn-danger btn-block sah-button-padding">Cancel</a>
    </div>
    </div>

<nav class="sah-mono navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
        </div>
    </div>
</nav>
