<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Search</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../css/style.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!--<div class="navbar-text pull-left">
            &lt;!&ndash;ng-if for director vs. member&ndash;&gt;
            <a href="../library/director-director-library-home.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
            </a>
        </div>-->
        <div class="navbar-text pull-right">
            <!--ng-if for director vs. member-->
            <a href="../library/director-library-home.view.client.html" class="navbar-link">
                <span class="glyphicon glyphicon-home"></span>
            </a>
        </div>

        <div class="navbar-header">
            <a class="navbar-brand">
                Search
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="input-group sah-button-padding">
        <input type="text" class="form-control" placeholder="Search Youtube">
        <span class="input-group-btn">
        <a class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
    </div>

    <div class="input-group sah-button-padding">
        <input type="text" class="form-control" placeholder="Search IMSLP">
        <span class="input-group-btn">
        <a class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
    </div>
</div>

<div class="container-fluid">
    <h4>Search Results</h4>
    <ul class="list-group">
        <li class="newsfeed-list-group-item list-group-item">
            <img src="http://cdn3-www.dogtime.com/assets/uploads/gallery/30-impossibly-cute-puppies/impossibly-cute-puppy-5.jpg" class="list-image-size"/>
            <a href="info.view.client.html">Dirait On</a>
            <a class="pull-right">
            <!--if viewing self, non-empty stars, can unfavorite-->
            <span class="glyphicon glyphicon-star-empty sah-glyphicon-center"></span>
            <!--div that displays pdf loads info.view.client.html if user clicks on the title above-->
            </a>
        </li>
    </ul>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <div class="row navbar-text text-center">
                <div class="col-xs-2 pull-right">
                    <a href="../user/login.view.client.html">
                        <span class="glyphicon glyphicon-off"></span>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="../social/search.view.client.html">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="../social/public-profile.view.client.html">
                        <span class="glyphicon glyphicon-star"></span>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="../social/newsfeed.view.client.html">
                        <span class="glyphicon glyphicon-globe"></span>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="../user/profile.view.client.html">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>