<div ng-controller="WidgetEditController as model" class="sah-form-padding">
    <div class="alert alert-danger" ng-show="model.error">{{model.error}}</div>

    <div class="alert alert-success" ng-show="model.message">{{model.message}}</div>

    <form>
        <div class="form-group">
            <label for="width">Width</label>
            <input ng-model="model.widget.width" type="number" class="form-control" id="width" placeholder="Enter your image width.">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input ng-model="model.widget.url" type="url" class="form-control" id="url">
        </div>
    </form>

    <form action="/api/upload"  method="post" enctype="multipart/form-data" class="sah-button-padding">
            <input  name="myFile"   type="file" class="form-control"/>
            <input  name="userId" value="{{model.userId}}" style="display: none"/>
            <input  name="pageId" value="{{model.pageId}}" style="display: none"/>
            <input  name="websiteId" value="{{model.websiteId}}" style="display: none"/>
            <input  name="widgetType" value="{{model.widget.widgetType}}" style="display: none"/>
            <input  name="width"    value="{{model.widget.width}}" style="display: none"/>
            <input  name="widgetId" value="{{model.widget._id}}"   style="display: none"/>
            <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
    </form>

    <a ng-click="model.updateWidget(model.widget)"
       class="btn btn-warning  btn-block">
        Update
    </a>

    <a ng-click="model.deleteWidget(model.widgetId)"
       class="btn btn-danger btn-block">
        Delete
    </a>
</div>